<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Tienda de abarrotes </title>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>API</h1>
            <div data-role="navbar" data-iconpos="bottom">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="tag" class="ui-btn-active">Products</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /footer -->
        <div data-role="content">
            <form action="/api/products/" method="POST">
                <input type="text" name="barcode" id="txt_barcode" placeholder="Codigo de barras" value="">

                <input type="text" name="description" id="txt_description" placeholder="Descripción" value="">

                <input type="text" name="brand" id="txt_brand" placeholder="Marca" value="">

                <input type="text" name="cost" id="txt_cost" placeholder="Precio de compra" value="">

                <input type="text" name="price" id="txt_price" placeholder="Precio de venta" value="">

                <input type="number" name="stock" id="txt_stock" placeholder="Numero en existencia" value="">

                <input type="date" name="expiredDate" data-inline="true" id="txt_expiredDate"
                    placeholder="Fecha de caducidad" value="">

                <label for="status">Activo</label>
                <select name="status" id="flip-2" data-role="slider">
                    <option value="0"></option>
                    <option value="1"></option>
                </select>

                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>

            </form>
            <form>
                <input data-type="search" id="searchForCollapsibleSet">
            </form>
            <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter"
                data-input="#searchForCollapsibleSet">
                <% products.forEach((product)=>{ %>
                    <div data-role="collapsible" data-filtertext="<% product.description %>">
                        <h3>
                            <%= product.description %>
                        </h3>
                        <ul data-role="listview" data-inset="false">
                            <li>Codigo de barra: <%= product.barcode %>
                            </li>
                            <li>Marca: <%= product.brand %>
                            </li>
                            <li>Precio de compra: <%= product.price %>
                            </li>
                            <li>Precio de venta: <%= product.cost %>
                            </li>
                            <li>Existencias: <%= product.stock %>
                            </li>
                            <li>Fecha de caducidad: <%= product.expiredDate %>
                            </li>
                            <li>Estatus: <%= product.status %>
                            </li>
                            <li><a href="/api/products/<%= product.barcode %>" class="ui-btn">Editar</a></li>
                            <li><a href="/api/products/d/<%= product.barcode %>" class="delete-product ui-btn">Eliminar</a></li>

                        </ul>
                    </div>
                    <%}) %>
            </div>
        </div>
    </div>


    </div>
    <div data-role="footer">
        <h5>Develop by Esperanza</h5>
    </div>

</body>

</html>